body {
    background-color: #c7f7f4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Raleway';
    font-weight: 300;
}

.header {
    background-image: url(imgs/alex-radelich-Evo4wmtRaPI-unsplash.jpg);
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(2px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-logo {
    width: 550px;
    filter: drop-shadow(4px 3px 2px #262626);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    text-align: center;

}

.nav-container {
    max-width: auto;
    margin-top: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item {
    background: #F75936;
    color: white;
    font-size: 20px;
    padding: 15px;
    border: #eb502d 2px solid;
    font-family: 'Raleway';
    font-weight: 500;
}

.item a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

.item:hover {
    background-color: #ed401ae8;
}

.active {
    background-color: black;
}


.top {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
}

.top h1 {
    margin-bottom: 20px;
    color: #0476D9;
    font-size: 70px;
}

.top h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.top h4 {
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
}

.form {
    /* transform: translate(-50%, -80%);
    text-align: center; */
    /* position: relative; */
    /*display: flex;
    flex-direction: column;
    justify-content: start;*/
    margin: 40px;
    margin-left: 575px;
    background-color: white;
    border: 20px solid white;
    filter: drop-shadow(2px 3px 4px #686767);
    width: 700px;

}

form {
    align-items: center;
}

input {
    width: 100%;
    margin: 30px 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #eb502d;
    font-family: 'Raleway';
    font-weight: 500;
    align-items: center;
}

textarea {
    width: 100%;
    margin: 30px 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #eb502d;
    font-family: 'Raleway';
    font-weight: 500;
    align-items: center;
}

#msg {
    margin-top: 60px;
}

button {
    background-color: #0476D9;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #fff;
}

.footer-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.footer-menu {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.copy {
    text-align: center;
    margin-bottom: 30px;
}

.phone {
    width: 20%;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: right;
    align-content: right;
    background-color: rgba(255, 255, 255, .8);
    padding: 25px;
    margin-top: 437px;
    margin-bottom: 200px;
    border-radius: 20%;
    max-height: 500px;
    line-height: 1.8;
}

@media (max-width: 500px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}