body {
  background-color: #c7f7f4;
  font-family: "Bebas Neue", cursive;
  font-family: "Raleway", sans-serif;
}

.header {
  background-image: url("images/alex-radelich-Evo4wmtRaPI-unsplash\ copy.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(2px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-logo {
  width: 550px;
  filter: drop-shadow(4px 3px 2px #262626);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.nav-container {
  max-width: auto;
  margin-top: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item {
  background: #f75936;
  color: white;
  font-size: 20px;
  padding: 15px;
  border: #eb502d 2px solid;
  font-family: "Raleway";
  font-weight: 500;
}

.nav {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

.learn {
  display: block;
  color: #f75936;
  text-decoration: none;
  text-align: center;
}

.learn-2 {
  display: block;
  color: #f75936;
  text-decoration: none;
  text-align: center;
  float: left;
}

.item:hover {
  background-color: #ed401ae8;
}

.active {
  background-color: black;
}

.main-container {
  background: rgba(255, 255, 255, 0.796);
  max-width: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
}

.text {
  /* background-color: white; */
  color: black;
  font-size: 20px;
  padding: 10px;
  /* border: black 1px solid; */
}

.text:nth-of-type(1) {
  grid-column: 1 / span 2;
}

.text:nth-of-type(4) {
  grid-column: 2 / span 2;
}

.text:nth-of-type(5) {
  grid-column: 1 / span 2;
}

.text:nth-of-type(8) {
  grid-column: 2 / span 2;
}

h1 {
  font-family: "Bebas Neue";
  color: #f75936;
  float: right;
  padding-top: 30px;
}

h2 {
  font-family: "Bebas Neue";
  color: #f75936;
  float: right;
  padding-top: 5px;
}

.mid {
  font-family: "Bebas Neue";
  color: #f75936;
  float: left;
  padding-top: 30px;
}

.first {
  font-family: "Raleway";
  float: right;
  text-align: right;
  /* padding: 20px;
    margin-right: 10px;
    margin-left: 10px; */
  /* padding-top: 20px; */
}

.second {
  font-family: "Raleway";
  float: left;
  text-align: left;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(4px 3px 2px #262626);
  width: 200px;
  height: 200px;
}

/* p {
    background: white;
    filter: drop-shadow(4px 3px 2px #262626);
} */

footer {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  font-family: "Raleway";
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline;
  text-align: center;
  padding: 10px;
}

.footer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.footer-menu {
  margin-top: 100px;
  position: relative;
}

@media (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
